body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-container {
  display: flex;
  width: 100vw;
}

.leaflet-container {
  height: 100vh;
  width: 50vw;
  position: fixed;
  right: 0;
}
.sidebar-container {
  height: 100vh;
  width: 50vw;
}

.bar-container {
  position: fixed;
  width: 49vw;
  margin:auto;
  background-color: silver;
  display: flex;
  justify-content: space-around;
  z-index: 1000;
}

.filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30vw;
}

.card-container {
  height:calc(100% - 50px);
  top: 65px;
  position: relative;
  width: 49vw;
}